<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class" value="org.sqlite.JDBC"/>
    	<property name="hibernate.connection.url" value="jdbc:sqlite:../lib/CDT_database.sqlite"/>
    	<property name="hibernate.dialect" value="lib.SQLiteDialect"/>
    	<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		
    	<!-- //// -->
    	<!-- Incluir todas as tabelas aqui para o hibernate conseguir mapear --> 
    	<!-- //// -->
    	
		<mapping class="scr.classes.Categoria" />
		<mapping class="scr.classes.Cliente" />
		<mapping class="scr.classes.Fornecedor" />
		<mapping class="scr.classes.ItemLote" />
		<mapping class="scr.classes.ItemVenda" />
		<mapping class="scr.classes.Lote" />
		<mapping class="scr.classes.Produto" />
		<mapping class="scr.classes.Venda" />
		
    </session-factory>
</hibernate-configuration>
